# Node modules
node_modules/

# System files
.DS_Store
Thumbs.db

# Build output
/.cache/
/build/
/app/build/
/public/build/
/public/_dev/
/app/public/build/

# Prisma (if used)
prisma/dev.sqlite
prisma/dev.sqlite-journal
database.sqlite

# Env files
.env
.env.*

# Extensions build output
/extensions/*/dist

# Shopify CLI app dev files
.shopify/
.shopify.lock

# IDE / Editor
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
*.swp
*.swo

# Others (optional but good)
*.log
*.tgz
coverage/
